.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/media/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.git/**
.DS_Store
npm-debug.log
.nyc_output
coverage
**/.nyc_output
docs/**
build/**
*.vsix
